# Site settings
url:                   https://youni202.github.io
baseurl:               '/tech-blog'
lang:                  ko

# Site info
name:                  '기술 블로그'
title:                 '기술 블로그'
description:           >
  최신 기술 트렌드와 디자인 툴에 대한 정보를 제공하는 블로그
tagline:               '기술과 디자인 트렌드'

# Author
author:
  name:                Youni
  email:               your-email@example.com

# GitHub
github_username:       youni202

# Favicon
favicon:               assets/img/logo.png

# Pagination
paginate:              10
paginate_path:         /page:num/
permalink:             /:year/:month/:day/:title/

# Default settings
defaults:
  - scope:
      path:            ""
      type:            posts
    values:
      layout:          post
      author:          Youni
      avatar:          /assets/img/avatar1.jpg
      comments:        false

  - scope:
      path:            ""
      type:            pages
    values:
      layout:          page

  - scope:
      path:            assets/
    values:
      sitemap:         false

# Collections
collections:
  featured_categories:
    permalink:         /category/:name/
    output:            true
  featured_tags:
    permalink:         /tag/:name/
    output:            true

# File inclusion/exclusion
exclude:
  - .jekyll-cache
  - .sass-cache
  - vendor
  - Gemfile
  - Gemfile.lock
  - node_modules
  - README.md

# Plugins
plugins:
  - jekyll-feed
  - jekyll-paginate
  - jekyll-seo-tag
  - jekyll-sitemap

# SEO
twitter:
  username:            youni202
  card:                summary

social:
  name:                Youni
  links:
    - https://github.com/youni202
