<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">홈</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html">카테고리</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/about.html">소개</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">문의하기</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://github.com/{{site.github_username}}"><i class="fab fa-github"></i> GitHub</a>
</li>
