---
layout: default
---

<!-- Begin site-content -->
<div class="container">
    <div class="main-content">
        <!-- Begin Article
        ================================================== -->
        <div class="container">
            <div class="row">

                <!-- Begin post -->
                <div class="col-lg-8 col-md-12">

                    {% if site.posts.size > 0 %}
                    {% for post in site.posts %}
                    <div class="card mb-4">
                        {% if post.image %}
                        <a href="{{ post.url | relative_url }}">
                            <img class="card-img-top" src="{{ site.baseurl }}{{ post.image.path | default: post.image }}" alt="{{ post.title }}">
                        </a>
                        {% endif %}
                        <div class="card-body">
                            <h2 class="card-title">
                                <a class="text-dark" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                            </h2>
                            <h4 class="card-text">{{ post.description | strip_html | truncate: 200 }}</h4>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="meta-footer-thumb">
                                        {% if post.avatar %}
                                        <img class="author-thumb" src="{{ site.baseurl }}{{ post.avatar }}" alt="{{ post.author }}">
                                        {% endif %}
                                    </span>
                                    <span class="author-meta">
                                        <span class="post-name"><a href="{{ site.baseurl }}/about">{{ post.author | default: site.author.name }}</a></span><br/>
                                        <span class="post-date">{{ post.date | date: "%Y년 %m월 %d일" }}</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>아직 게시된 포스트가 없습니다.</p>
                    {% endif %}

                </div>
                <!-- End post -->

                <!-- Sidebar -->
                <div class="col-lg-4 col-md-12">
                    {% include sidebar.html %}
                </div>
                <!-- End Sidebar -->

            </div>
        </div>
    </div>
</div>
<!-- End site-content -->